/**
 * Function / System Layer
 */

/ {
  keymap {
    compatible = "zmk,keymap";

    fn_layer {
      display-name = "Fn";
      bindings = <
//╭────────────────────────────┬────────────────────────────╮ 
//│  0   1   2   3   4   5     │      6   7   8   9  10  11 │
  &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
//│ 12  13  14  15  16  17     │     18  19  20  21  22  23 │
  &out OUT_TOG &kp F1 &kp F2 &kp F3 &kp F4 &kp F5 &trans &trans &trans &trans &trans &kp C_POWER
//│ 24  25  26  27  28  29     │     30  31  32  33  34  35 │
  &rst_boot 0 0 &kp F6 &hrml LCTRL F7 &hrml LALT F8 &hrml LCMD F9 &hrml MEH F10 &trans &trans &trans &trans &trans &rst_boot 0 0
//│ 36  37  38  39  40  41  42 │ 43  44  45  46  47  48  49 │
  &cmo Fn &kp F11 &kp F12 &kp F13 &kp F14 &kp F15 &trans &trans &trans &trans &trans &trans &trans &cmo Fn
//╰───────────╮ 50  51  52  53 │ 54  55  56  57 ╭───────────╯
  &trans &kp C_BRI_DN &kp C_BRI_UP &cmo L2 &cmo L2 &kp CAPSLOCK &trans &trans
//            ╰────────────────┴────────────────╯            
      >;
    };
  };
};
